{% extends "base.html" %} {% block titulo %} Listado de usuarios del
sistema {% endblock %} {% block contenido_principal %}
<div class="container">
	<h2>Usuarios</h2>
	<p>Los usuarios que actualmente figuran en el sistema son los
		siguientes:</p>
	<form class="navbar-form" action="/users/list">
		<div class="form-group">
			<input name="searchText" id="search" type="text" class="form-control"
				size="50" placeholder="Buscar por email o nombre del usuario" />
		</div>
		<button type="submit" id="searchSubmit" class="btn btn-default">Buscar</button>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th class="col-md-2"></th>
				</tr>
			</thead>
			<tbody>
				{% for usuario in usuarios %} {% if usuario.email != user %}
				<tr>
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.email}}</td>
					<td><a id="btnAddFriend"
						href="/addFriend/{{ cancion._id.toString() }}"
						class="btn btn-primary">Añadir amigo</a></td>
				</tr>
				{% endif %} {% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item"><a class="page-link" href="/users/list?pg=1">Primera</a>
		</li>

		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item"><a class="page-link"
			href="/users/list?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a></li> {% endif %}

		<!-- Actual -->
		<li class="page-item active"><a class="page-link"
			href="/users/list?pg={{ pgActual }}">{{ pgActual }}</a></li>

		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item"><a class="page-link"
			href="/users/list?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a></li> {% endif %}

		<!-- Última -->
		<li class="page-item"><a class="page-link"
			href="/users/list?pg={{ pgUltima }}">Última</a></li>
	</ul>
</div>
{% endblock %}
