{% extends "base.html" %} {% block titulo %} Listado de usuarios del
sistema {% endblock %} {% block contenido_principal %}
<div class="container">
	<h2>Usuarios</h2>
	<p>Los usuarios que actualmente figuran en el sistema son los
		siguientes:</p>
	<form class="navbar-form" action="/users/list">
		<div class="form-group">
			<input name="searchText" id="search" type="text" class="form-control"
				size="50" placeholder="Buscar por email o nombre del usuario" />
		</div>
		<button type="submit" id="searchSubmit" class="btn btn-default">Buscar</button>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th class="col-md-2"></th>
				</tr>
			</thead>
			<tbody>
				{% for user in usuarios %}
				<tr>
					<td>{{user.nombre}}</td>
					<td>{{user.email}}</td>
					<td><a id="btnAddFriend"
						href="/addFriend/{{ cancion._id.toString() }}"
						class="btn btn-primary">Añadir amigo</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
